<div class="flexrow">
  <label class="resource-label">{{localize "MWDESTINY.hardware.pilot"}}</label>
  <select name="system.pilotId">
    {{selectOptions ownedPcs nameAttr="id" labelAttr="name" blank="———" selected=system.pilotId}}
  </select>
</div>