<div class="grid grid-4col">
  <label class="resource-label">Can Punch:</label>
  <input type="checkbox" name="system.canPunch" data-dtype="Boolean" {{checked system.canPunch}}/>
  <label class="resource-label">Can Kick:</label>
  <input type="checkbox" name="system.canKick" data-dtype="Boolean" {{checked system.canKick}}/>
</div>