<section class="flexrow">
  {{> "systems/mw-destiny/templates/parts/hardware/armor-pane.hbs"}}
  <div class="flexcol flex2">
    {{> "systems/mw-destiny/templates/parts/hardware/pilot-pane.hbs"}}
    <div class="flexrow">
        {{> "systems/mw-destiny/templates/parts/hardware/vital-stats-pane.hbs"}}
        {{> "systems/mw-destiny/templates/parts/shared/equipment-pane.hbs"}}
    </div>
    {{> "systems/mw-destiny/templates/parts/hardware/weapons-pane.hbs"}}
  </div>
</section>