<div class="dispositions-pane flexcol flex-group-center">
  <div class="resource-label">{{localize "MWDESTINY.bio.dispositions"}}</div>
  {{#each system.dispositions}}
  <textarea name="system.dispositions.{{@index}}" rows="2" data-dtype="String">{{this}}</textarea>
  {{/each}}
</div>