<div class="flexcol flex-group-left">
  <div class="resource-label">{{localize "MWDESTINY.mechanic.equipment"}}</div>
  {{#each system.equipment}}
  <input type="text" name="system.equipment.{{@index}}" data-dtype="String" value="{{this}}"/>
  {{/each}}
</div>