<div class="flexcol">
  {{> "systems/mw-destiny/templates/parts/pc/traits-pane.hbs"}}
  {{> "systems/mw-destiny/templates/parts/pc/cues-pane.hbs"}}
  <div class="flexrow">
    {{> "systems/mw-destiny/templates/parts/pc/dispositions-pane.hbs"}}
    {{> "systems/mw-destiny/templates/parts/pc/life-modules-pane.hbs"}}
  </div>
</div>
