<section class="flexcol">
  <section>
    {{> "systems/mw-destiny/templates/parts/pc/attributes-pane.hbs"}}
  </section>

  <section class="grid grid-2col">
    {{> "systems/mw-destiny/templates/parts/pc/skills-pane.hbs"}}
    {{> "systems/mw-destiny/templates/parts/pc/weapons-pane.hbs"}}
    {{> "systems/mw-destiny/templates/parts/shared/equipment-pane.hbs"}}
  </section>
</section>