<div class="flexcol">
  <label class="resource-label">{{localize "MWDESTINY.combat.special"}}</label>
  <textarea name="system.special" rows="3" placeholder="{{localize "MWDESTINY.combat.special"}}" data-dtype="String">{{system.special}}</textarea>
</div>