<div class="flexrow">
  <label class="resource-label">{{localize "MWDESTINY.combat.weaponSkill"}}</label>
  <select name="system.weaponSkillType">
    {{selectOptions MWDESTINY.weaponSkillTypes localize=true selected=system.weaponSkillType}}
  </select>
</div>