<div class="resource flexcol flex-group-center">
  <div class="resource-label">{{localize "MWDESTINY.bio.tags"}}</div>
  <div class="flexrow">
    {{#each system.tags}}
    <input type="text" name="system.tags.{{@index}}" data-dtype="String" value="{{this}}"/>
    {{/each}}
  </div>
</div>