<div class="cues-pane flexcol flex-group-center">
  <div class="resource-label">{{localize "MWDESTINY.bio.cues"}}</div>
  <div class="grid grid-4col">
    {{#each system.cues}}
    <input type="text" name="system.cues.{{@index}}" data-dtype="String" value="{{this}}"/>
    {{/each}}
  </div>
</div>