<div class="flexcol">
  {{> "systems/mw-destiny/templates/actor/parts/cues-pane.hbs"}}
  <div class="flexrow">
    {{> "systems/mw-destiny/templates/actor/parts/dispositions-pane.hbs"}}
    {{> "systems/mw-destiny/templates/actor/parts/life-modules-pane.hbs"}}
  </div>
</div>
