<section class="flexcol">
  <section>
    {{> "systems/mw-destiny/templates/actor/parts/attributes-pane.hbs"}}
  </section>

  <section class="grid grid-2col">
    {{> "systems/mw-destiny/templates/actor/parts/skills-pane.hbs"}}
    {{> "systems/mw-destiny/templates/actor/parts/weapons-pane.hbs"}}
    <div class="flexrow">
      <label class="resource-label">{{localize "MWDESTINY.combat.defenseMod"}}</label>
      <input type="number" name="system.defenseMod" value="{{system.defenseMod}}" placeholder="0" data-dtype="Number"/>
    </div>
  </section>
</section>