<div class="flexrow flex-group-center">
  <div class="flexcol">
    <div class="resource-label flex0">{{localize "MWDESTINY.tabs.history"}}</div>
    {{editor system.history target="system.history" owner=owner editable=editable}}
  </div>
  <div class="flexcol">
    <div class="resource-label flex0">{{localize "MWDESTINY.tabs.personality"}}</div>
    {{editor system.personality target="system.personality" owner=owner editable=editable}}
  </div>
</div>
