<form class="{{cssClass}}" autocomplete="off">
  {{> "systems/mw-destiny/templates/item/parts/header.hbs"}}

  <div class="sheet-body flexrow">
    {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
  </div>
</form>