<form class="{{cssClass}}" autocomplete="off">
  {{> "systems/mw-destiny/templates/parts/item/header.hbs"}}

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="main">{{localize "MWDESTINY.tabs.main"}}</a>
    <a class="item" data-tab="description">{{localize "MWDESTINY.tabs.description"}}</a>
  </nav>

  <section class="sheet-body">
    <div class="tab main" data-group="primary" data-tab="main">
      <div class="flexcol">
        {{> "systems/mw-destiny/templates/parts/item/weapon-damage.hbs"}}

        {{> "systems/mw-destiny/templates/parts/item/weapon-range.hbs"}}

        {{> "systems/mw-destiny/templates/parts/item/weapon-special.hbs"}}
      </div>
    </div>

    <div class="tab description" data-group="primary" data-tab="description">
      {{> "systems/mw-destiny/templates/parts/shared/tab-description.hbs"}}
    </div>
  </section>
</form>