<form class="{{cssClass}}" autocomplete="off">
  {{> "systems/mw-destiny/templates/parts/item/header.hbs"}}

  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is defined in pc-sheet.mjs --}}
    <a class="item" data-tab="main">{{localize "MWDESTINY.tabs.main"}}</a>
  </nav>

  <section class="sheet-body">
    <div class="tab main" data-group="primary" data-tab="main">
      {{editor system.description target="system.description" button=true editable=system.isKnowledge}}
    </div>
  </section>
</form>